<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />

      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

  <% if user_has_post? %>
    <h2>Posts</h2>
      <%= render @user.posts %>
  <% else %>
    <p><%= @user.name %> has not submitted any posts yet.</p>
  <% end %>

  <% if user_has_comment? %>
    <h2>Comments</h2>
    <%= render @user.comments %>
  <% else %>
    <p><%= @user.name %> has not submitted any posts yet.</p>
  <% end %>

  <h2>Favorites</h2>

  <% @user.favorites.each do |favorite| %>
    <div class="media-left">
      <%= image_tag favorite.post.user.avatar_url(64), class: 'media-object' %>
    </div>
    <div>
      <h4 class="media-heading">
        <%= render partial: 'posts/post', locals: { post: favorite.post} %>
      </h4>
    </div>
  <% end %>
